* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 7vw;
}

@font-face {
  font-family: 'Permanent Marker';
  src: url('../fonts/PermanentMarker-Regular.ttf');
}

:root {
  --black: #000000;
  --grey1: #dcdcdc;
  --grey2: #949494;
}
