* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 4vw;
}

body {
  background-color: var(--grey1);
  color: var(--black);
  font-family: 'Inter', sans-serif;
}
section {
  padding-top: 180px !important;
  padding-bottom: 0 !important;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_slnt,wght.ttf');
}

:root {
  --black: #090115;
  --grey1: #fcfcfc;
  --grey2: #949494;
  --orange: #dc600e;
  --purple: #e90000;
}

.footer {
  font-family: 'ibm';
  font-size: clamp(15px, 0.3rem, 40px);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-top: 0.7px solid black;
}
.footer a {
  text-decoration: none;
  color: #dc600e;
}
