@media only screen and (max-width: 700px) {
  .himg {
    width: 100% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .hcont {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem !important;
  }
  .htext {
    width: 100% !important;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .aflex {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .atext {
    width: 100% !important;
    padding: 0 !important;
  }
  .aic {
    width: 80% !important;
    height: 300px;
    margin: 0 auto;
  }
  .aicimg {
    object-position: top !important;
  }
  .aicbutton {
    margin: 0 auto;
  }
}

.container {
  padding: 5%;
  padding-bottom: 0 !important;
}
.hero {
  padding-top: 2.7rem !important;
  padding: 0.8rem;
}
.htext {
  width: 70%;
  max-width: 1000px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.hcont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.htext h1 {
  font-size: clamp(40px, 1.3rem, 75px);
  font-weight: 800;
  /* font-size: 85px;s */
  /* line-height: 90px; */
}
.htextspan {
  font-size: 23px;
  font-weight: 500;
  color: #646464;
  max-width: 600px;
}
.tblue {
  background: linear-gradient(112.62deg, #bb0303 29.4%, #aa1f0d 105.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.htext button {
  background: linear-gradient(112.62deg, #bb0303 29.4%, #dc321c 105.15%);
  border-radius: 20px;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-width: 0px;
}

.himg {
  width: 35%;
  display: block;
  position: relative;
  border-radius: 27px;
}

.himgimg {
  border-radius: 27px;
  width: 100%;
  max-width: 450px;
  height: auto;
  object-fit: cover;
}
#about {
  padding: 150px 0;
}
.abcont {
  padding: 0 20px;
  max-width: 1360px;
  margin: 0 auto;
}
.aflex,
.wflex {
  display: flex;
  align-items: flex-start;
}

.aic {
  width: 40%;
  display: block;
}
.aicbutton {
  background: linear-gradient(112.62deg, #bb0303 29.4%, #dc321c 105.15%);
  border-radius: 20px;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-width: 0px;
}
.aicimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 27px;
  position: relative;
  max-height: 500px;
  object-position: top;
}
.atext,
.wtext {
  width: 60%;
  padding: 0 0 0 50px;
}

.ahead {
  font-size: clamp(40px, 1rem, 60px);
  margin-bottom: 35px;
  /* text-align: center; */
}
.ahead svg,
.thead svg {
  color: #e20000;
}
.ap {
  font-size: 25px;
  margin-bottom: 20px;
  color: #2e2e2e;
}

.thead {
  font-size: clamp(40px, 1rem, 60px);
  margin-bottom: 35px;
  text-align: center;
}
.wic {
  width: 60%;
}

.wimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 27px;
  position: relative;
  /* max-height: 500px; */
  object-position: top;
}
.wsm {
  max-width: 900px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 500;
}
.wsub {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wsubt {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(255, 254, 255);
  padding: 25px;
  border-radius: 12px;
  /* width: 100%; */
}
.wsubt {
  font-size: 23px;
}
.wsubt h3 span {
  background: linear-gradient(112.62deg, #bb0303 29.4%, #aa1f0d 105.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.wsubt p {
  font-size: 15px;
}

@media only screen and (max-width: 1000px) {
  .wflex {
    flex-direction: column;
    gap: 30px;
  }
  .wic {
    width: 90%;
    margin: auto;
  }
  .wtext {
    padding: 0;
    width: 100%;
  }
  .wsubt {
    width: 100%;
  }
  .wsub {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
