.container {
  padding: 5%;
  padding-bottom: 0 !important;
}
.hero {
  padding-top: 2.7rem !important;
  padding: 0.8rem;
}
.htext {
  width: 70%;
  max-width: 1000px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.hcont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.htext h1 {
  font-size: clamp(40px, 1.3rem, 75px);
  font-weight: 800;
  /* font-size: 85px;s */
  /* line-height: 90px; */
}
.htextspan {
  font-size: 25px;
  font-weight: 500;
  color: #646464;
}
.tblue {
  background: linear-gradient(112.62deg, #bb0303 29.4%, #aa1f0d 105.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
}
.htext button {
  background: linear-gradient(112.62deg, #bb0303 29.4%, #dc321c 105.15%);
  border-radius: 20px;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-width: 0px;
}

.himg {
  width: 30%;
  display: block;

  border-radius: 27px;
}
.himgb {
  position: absolute;
  max-width: 457px;
  height: 457px;
  bottom: 5px;
  right: 5px;

  border: 0.1px solid;
  border-color: #bb0303;

  border-radius: 27px;
}

.himgimg {
  border-radius: 27px;
  width: 100%;
  max-width: 450px;
  height: auto;
}

@media only screen and (max-width: 700px) {
  .himg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hcont {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3rem !important;
  }
  .htext {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .simg {
    grid-area: 1 / 1 / 12 / 7;
  }
  .simg:hover {
    z-index: 0;
  }
  .simg2 {
    grid-area: 8 / 4 / 13 / 9;
  }
  .simg3 {
    grid-area: 10 / 1 / 15/ 4;
  }
  .simg4 {
    grid-area: 1 / 1 / 7 / 5;
  }
  .simg5 {
    grid-area: 4 / 2 / 11 / 6;
  }
  .simg6 {
    grid-area: 9 / 3 / 15 / 7;
    z-index: 1;
  }
  .service {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 120vh;
  }

  .section2 {
    margin-top: 2.5rem;
  }
  .parent {
    display: flex;
    flex-direction: column;
  }
  .parent div {
    height: 11rem;
  }
  .abs {
    display: none;
  }
}
