.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--black);
  position: relative;
}
.inner {
  display: flex;
  gap: 30px;
  align-items: baseline;
}
.xy {
  /* position: absolute; */
  color: var(--grey1);
  /* bottom: 10px;
  left: 30px; */
}
.xy h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}
/* .xy2 {
  position: absolute;
  color: var(--grey2);
  bottom: 10px;
  left: 30px;
  display: none;
} */
.xy2 h1 {
  font-size: 2rem;
}
.x:hover {
  color: #f8f8f8;
  transition: color 0.2s ease-in-out;
}
.centre {
  position: relative;

  width: 0.7rem;
  height: 0.7rem;
}

.img {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 174, 0, 0.276);
  position: absolute;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img3 {
  background-image: url('/xy_2_1_min-compress1.jpg');
}
/* .img2 {
  background-image: url('/xy_6_min-compress1.jpg');
} */
.img1 {
  background-image: url('/xy4_min-compress1.jpg');
}
/* 

*/
