.container {
  width: 100%;
  position: fixed;
  z-index: 99;
  border-bottom: 0.01px solid #744dff;
  background-color: #a1deff;
  /* background-blend-mode: difference; */
}
.nav {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.logo {
  position: relative;
  width: 60px;
  height: 60px;
}
.navlinks {
  display: flex;
  gap: 30px;
  font-size: 20px;
  font-weight: 600;
}
.nvrc {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.nico {
  display: flex;
  align-items: center;
  gap: 20px;
}
.ico {
  font-size: 30px;
}
.nico button {
  background: linear-gradient(112.62deg, #2422ac 29.4%, #4b154e 105.15%);
  /* border-radius: 20px; */
  padding: 10px 25px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-width: 0px;
}
@media only screen and (max-width: 1000px) {
  .nico button {
    display: none;
  }
}
.link {
  text-decoration: none;
  color: var(--black);
}
.active {
  color: var(--purple);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  display: none;
  z-index: 9;
}

@media only screen and (max-width: 700px) {
  .nav {
    width: 90%;
  }
  .link {
    color: var(--grey1);
  }

  .navlinks {
    display: none;
  }
  .menuopen {
    position: absolute;
    top: 0px;
    left: 0;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    padding-top: 60px;
    background-color: black;
    font-size: 60px;
    z-index: 8 !important;
    display: flex;
    -webkit-animation: showNav 1s ease-in;
    animation: showNav 0.5s ease-in;
  }
  .menu {
    font-size: 40px;
    display: block;
  }

  .menuactive {
    color: var(--grey1);
  }
  .active {
    background: linear-gradient(112.62deg, #2422ac 29.4%, #4b154e 105.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
