.container {
  width: 100%;
  position: fixed;
  z-index: 99;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* background-blend-mode: difference; */
}
.nav {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.logo .xy h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  cursor: pointer;
  color: var(--black);
}
.x:hover,
.menu:hover {
  color: var(--orange);
  transition: color 0.2s ease-in-out;
}
.x {
}
.navlinks {
  font-family: 'rubik';
  display: flex;
  gap: 25px;
  font-size: 20px;
}
.link {
  text-decoration: none;
  color: var(--black);
}
.active {
  color: var(--orange);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  display: none;
  z-index: 9;
}

@media only screen and (max-width: 700px) {
  .nav {
    width: 90%;
  }
  .link {
    color: var(--grey1);
  }

  .navlinks {
    display: none;
  }
  .menuopen {
    position: absolute;
    top: 0px;
    left: 0;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    padding-top: 60px;
    background-color: black;
    font-size: 60px;
    z-index: 8 !important;
    display: flex;
    -webkit-animation: showNav 1s ease-in;
    animation: showNav 0.5s ease-in;
  }
  .menu {
    font-size: 40px;
    display: block;
  }

  .menuactive {
    color: var(--orange);
  }
  .active {
    color: var(--orange);
  }
}
